@use 'do_config' as *;
/*
-
FRAMEWORK DO
-
Easy design !
-
*/


// @include aspect-ratio(16, 9);
// @include aspect-ratio(1, 1);
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.gutter{
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      height: calc(100% - 30px);     
    }
  }
}

.square{
    @include aspect-ratio(1,1);
    &.circle{
      border-radius: 100%;
    }
}
.cover{
  @include aspect-ratio(3.5,2);
  .content{
    background-size: cover;
  }
}
.video{
  @include aspect-ratio(16,9);
}



// form

input{

  transition-property: background-color, color;
  transition-duration: $duration/2;
  transition-timing-function: $easing;

  &.reset{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-color: transparent !important;
    border: none;
  }
  &.app{
    appearance: none;
  }
  opacity: 0.8;
  &:focus{
    opacity: 1;
  }

  &.full{
    width: 100%;
    height: 100%;
  }

  &.no-focus{
    &:focus{
      border:none;
      appearance: none;
      outline: none;
      filter:none;
    }
  }

}




// BG IMAGE & BLEND


.blend-color{
  mix-blend-mode: color;
}

.bg-center{
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-size: cover;
}

.bg-top-center{
 background-position: 50% -10rem;
 background-repeat: no-repeat;
 background-size: 100%;
}


