@use 'do_config' as *;

// Typo

html{
  	font-size:16px;  
	font-size:clamp(14px,1vw,20px)	 
}

*{
	box-sizing: border-box;
}

body{

	font-family: 'Lato', sans-serif;
	background-color: white;
	line-height: 1.5;
	margin:0px;


}

h1,h2,h3,h4,h5,h6{
	font-family: 'Work Sans', sans-serif;	
	margin-bottom: 0px;
	font-weight: 700;
}


p{
	margin-bottom:0px;
}




.strong{
  font-weight: 900;
}

.bold{
  font-weight: 700;
}

.light{
  font-weight: 100;
}



.reset-y{

  line-height: 0.75em;
  margin-bottom: 0px;
  margin-top: 0px;
    
}
.press{
	line-height: 1.25;
}
.expend{
	line-height: 1.5;
}
.text-right{
	text-align: right;
}





a{
	text-decoration: none;
	color:var(--contraste-color);
	transition-property: background-color, color, box-shadow;
	transition-duration: $duration/2;
	transition-timing-function: $easing;
	&:hover{
		text-decoration: none;
		color:var(--main-color);
	}
	
}

.do-txt {
	a{
		text-decoration: underline;
		font-weight: bold;
		color:var(--contraste-color) !important;
		
		&:hover{		
			color:var(--main-color) !important;
			background-color: var(--second-color) !important;
		}

	}
}

ul{
	list-style: none;
	margin:0px;
	padding:0px;

	li{
		list-style: none;
	}
}

.do-txt ul li{
	@extend .do-pl-sm !optional;
	position: relative;
	&:before{
		display: block;
		content:"";
		position: absolute;
		left:0;
		top:50%;
		@extend .trans-y-middle !optional;
		@extend .do-w-xxs !optional;
		@extend .do-h-xxs !optional;
		@extend .do-br-md !optional;
		@extend .do-bg-main-color !optional;

	}
}

.flex-list{

	.do-txt ul{
		display: flex;
		flex-wrap: wrap;
	}
	.do-txt ul li{
		
		flex: 0 0 50%;
		@extend .do-p-sm !optional;
		text-align: center;
		position: relative;
		&:before{
			display: block;
			content:"";
			position: absolute;
			left:50%;
			@extend .top-xs-rem !optional;
			@extend .trans-x-middle !optional;
			@extend .do-w-xxs !optional;
			@extend .do-h-xxs !optional;
			@extend .do-br-md !optional;
			@extend .do-bg-main-color !optional;

		}
	}
}

.tti{
	text-transform: initial !important;
}

.do-txt ul {
	@extend .do-my-sm !optional;
	text-align: left;
}

	@media screen and (min-width:$lg) {


		.do-txt, ul{

			&.columns-1{
				columns: 1;
				column-gap:$do-u*30;
			}
			&.columns-2{
				columns: 2;
				column-gap:$do-u*30;
			}
			&.columns-3{
				columns: 3;
				column-gap:$do-u*30;
			}
			&.columns-4{
				columns: 4;
				column-gap:$do-u*30;
			}

		}

	
	}	 

.title-style{
	font-family: 'Quicksand', sans-serif;	
}

.nowrap{
	white-space: nowrap;
}
