
.a-transform{
  transition:transform 0.4s ease-out, left 0.4s ease-out, transform-origin 0.4s ease-out, opacity 0.4s ease-out;
}
.o-transform{
  transition:opacity 0.4s ease-out;
}

.h-transform{
  transition:height 0.4s ease-out;
}

.progress{

    @extend .a-transform;
    transform:scaleX( 1 );
    transform-origin:top right;
    transform:scaleX( calc( 1 - var(--scroll-percent-y) ) );    

}


#bg-header{

   transform:translateY(-100%);
   transform-origin:top center;
   @extend .a-transform;

}

.logo-icone{
  display: none;
}


.container-main{

  @extend .h-transform;
  @extend .do-py-md; 
}


@media screen and (max-width:$lg) {
  .sub-nav{
    span{
      display:none;
    }
  }
} 


body.onScroll {

    .container-main{

        height: 5rem;
        padding-top: 0px;
        padding-bottom: 0px;
        --main-color: #000;
    
    }

    .main-nav{
        --second-color: #000 !important;
    }

    #bg-header{
       opacity: 1;
       transform:translateY(0%);
    }

    .logo-icone{
      display: block;
    }

    .sub-nav{
      @extend .top-xs-rem;
    }


    .logo-full{
      display: none;
    }

    .fx-bg:after{
      transform-origin:top left;
    }
}

.toggle{
  &-off{
    .on{
      display: block;
    }
    .off{
      display: none;
    }
  }
  &-on{
    .off{
      display: block;
    }
    .on{
      display: none;
    }
  }
}