
#burger{
  border-radius:100%;
  &.active{
    transform:scale(1.2);
  }
}

#nav{

  .nav-container{
    &.close{
      display: none;
    }
  }
}

#nav a{
  position: relative;
  &::after{
 
      content: "";
      z-index: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom:0px;
      left:0px;
      background-color: var(--main-color);
      transform:scale(0);
      opacity: 0;
      transition:opacity 0.2s, transform 0.4s;

    }

    &::before{
 
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom:0px;
      left:0px;
      background-color: rgb(255, 255, 255);
      transform:scale(0.9);
      opacity: 0;
      transition:opacity 0.2s, transform 0.4s;

    }
  &:hover{
    
    &::after{
      opacity: 1;
      transform:scale(1);
    }
    &::before{
      opacity: 1;
      transform:scale(1.2);
    }
  }
}