// TPL global

body{
	background-color: var(--second-color);
	margin:0;
}

*{
  box-sizing:border-box;
}


.container-fluid{
	   position: relative;
	padding:0px;
}

.block{
	display: block;
}

.inline-block{
	display: inline-block;
}

.flex{

	display: flex;
	&-center{
		align-items: center;
		justify-content: center;
		&-x{
			justify-content: center;
		}
		&-y{
			align-items: center;
		}
	}
	&-start{
		align-items: flex-start;
	}
	&-end{
		align-items: flex-end;
	}
	&-space{
		justify-content: space-between;
	}
	&-around{
		justify-content: space-around;
	}
	&-direction{
		&-x{
			flex-direction: row;
		}
		&-y{
			flex-direction: column;
		}
	}
}



// BG IMAGE & BLEND

.overflow-hidden{
	overflow: hidden;
}

.blend-color{
	 mix-blend-mode: color;
}

.blur-doux{
	backdrop-filter: blur(1rem);
}

.bg-center{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-top-center{
	background-position: 50% -10rem;
	background-repeat: no-repeat;
	background-size: 100%;
}




