// TPL global

body{
	background-color: var(--second-color);
	margin:0;
}

*{
  box-sizing:border-box;
}


.container-fluid{
	   position: relative;
	padding:0px;
}





// BG IMAGE & BLEND


.blend-color{
	 mix-blend-mode: color;
}

.bg-center{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-top-center{
	background-position: 50% -10rem;
	background-repeat: no-repeat;
	background-size: 100%;
}




