@use '../do/do_core' as *;
@use '../do/do_color' as *;
// TPL global

@debug("TEMPLATE !");

body{
	@extend %mt-xxxl;
	@extend %bg-second-color;
}

*{
  box-sizing:border-box;
}


.container-fluid{
	position: relative;
	padding:0px;
}







